<footer class="  bg-white py-6 border-t">
    <div class="text-center text-sm text-gray-600">
        &copy; 2025 Sem-Store | Made for IIT Gandhinagar
    </div>
</footer>
<script src="/startSW.js"></script>
