

<script type="module" src="/sync.js"></script>
<nav class="bg-white shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <div class="flex items-center gap-3" >
            <a href="/"><img src="../images/iitgn-logo.png" alt="IITGN Logo" class="h-10 w-10" ></a>
            <a href="/"><h1 class="text-xl font-semibold text-blue-600">Sem-Store</h1></a>
        </div>
        <ul class="flex space-x-4">
            <li><a href="/Home" class="text-blue-600 hover:text-blue-800">Explore</a></li>
            <li><a href="#about" class="text-blue-600 hover:text-blue-800">About</a></li>
            <li><a href="/AdminPanel" class="text-blue-600 hover:text-blue-800">Admin Panelaaaa</a></li>
            <li><a href="/Downloads" class="text-blue-600 hover:text-blue-800">Downloaded Files</a></li>
            <% if (role==="Contributor" || role==="Admin") { %>
                <li><a href="/Upload" class="text-blue-600 hover:text-blue-800">Upload Page</a></li>
            <% } %>

            <% if (role==="Admin") { %>
                <li><a href="/AdminPanel" class="text-blue-600 hover:text-blue-800">Admin Panel</a></li>
            <% } %>

            <% if (!name) { %>
                <li><a href="<%=link %>" class="text-blue-600 hover:text-blue-800 login">Login</a></li>
            <% } else { %>
                <li><a href="/Logout" class="text-blue-600 hover:text-blue-800 logout">Logout</a></li>
            <% } %>



        </ul>
    </div>
</nav>