


<nav class="bg-white shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <div class="flex items-center gap-3" >
            <a href="/"><img src="../images/iitgn-logo.png" alt="IITGN Logo" class="h-10 w-10" ></a>
            <h1 class="text-xl font-semibold text-blue-600">Sem-Store</h1>
        </div>
        <ul class="flex space-x-4">
            <li><a href="#explore" class="text-blue-600 hover:text-blue-800">Explore</a></li>
            <li><a href="#about" class="text-blue-600 hover:text-blue-800">About</a></li>
<!--            <?php-->
<!--            if(empty($_SESSION['name']))-->
                <li><a href="#" class="text-blue-600 hover:text-blue-800 login">Login</a></li>
<!--            else-->
<!--            echo '-<li><a href="Logout.php" class="text-blue-600 hover:text-blue-800 logout">Logout</a></li>';-->
<!--            ?>-->


        </ul>
    </div>
</nav>