<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

<script>
    // Notification.requestPermission().then((result) => {
    //     console.log(result);
    // });
    // displayNotification()
    // function displayNotification() {
    //     if(Notification.permission === "granted") {
    //         navigator.serviceWorker.getRegistration().then((reg) => {
    //             reg.showNotification("Notification created successfully!");
    //         })
    //     }
    // }
</script>
<script src="/js/getSub.js">
</script>
</body>
</html>