
@import "tailwindcss";

@tailwind utilities;


@theme{
    --color-blue-600:#1a71c9;
    --color-blue-700:#155dab;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e3f2fd;
}

/*npx @tailwindcss/cli -i ./src/Input.css -o ./src/Style.css --watch*/