
@import "tailwindcss";

@tailwind utilities;
@keyframes dots {
    0%, 100% { content: ""; }
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
}

.animate-dots::after {
    content: "";
    animation: dots 1.5s steps(4, end) infinite;
}

@theme{
    --color-blue-600:#1a71c9;
    --color-blue-700:#155dab;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e3f2fd;
}

/*npx @tailwindcss/cli -i ./src/Input.css -o ./src/Style.css --watch*/